<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="section">
	<!--<h2><%= f.text_field :name %></h2>-->
	<fieldset>
		<p><%= f.label :name %><%= f.text_field :name %></p>
		<p><%= f.label :time %><%= f.datetime_select :time, :discard_second => true %></p>
    <%= f.fields_for :location do |g| %>
      <p><%= g.label :address %><%= g.text_field :address %></p>
    <% end %>
	</fieldset>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
