!= form_for(@trip) do |f|
  - if @trip.errors.any?
    #error_explanation
      %h2 #{pluralize(@trip.errors.count, "error")} prohibited this trip from being saved:
      %ul
        - @trip.errors.full_messages.each do |msg|
          %li= msg
  .section
    %fieldset
      %p
        != f.label :name
        != f.text_field :name
      %p
        != f.label :time
        != f.datetime_select :time, :discard_second => true
      != f.fields_for :location do |g|
        %p
          != g.label :location
          != g.text_field :location
  .actions!= f.submit
