!= form_for(@trip) do |f|
  - if @trip.errors.any?
    #error_explanation
      %h2 #{pluralize(@trip.errors.count, "error")} prohibited this trip from being saved:
      %ul
        - @trip.errors.full_messages.each do |msg|
          %li= msg
  %fieldset.section
    %h3 Trip Info
    %ul
      %li
        != f.label :name
        != f.text_field :name
      %li
        != f.label :time
        != f.datetime_select :time, :discard_second => true
      != f.fields_for :location do |g|
        %li
          != g.label :location
          != g.text_field :location
  %fieldset.section
    %h3 Submit
    != f.submit
