.section.trip
  %h3<
    != link_to trip.name, trip
    %span!= trip.time.strftime('%B %d, %Y')
  %dl
    %dt Location
    %dd= trip.location.location
    %dt Role
    %dd= trip.roles_for(current_person).map {|role| role.capitalize}.join(', ')
    %dt Arrangement
    %dd
      - if trip.participants.include?(current_person)
        - arrangement = trip.arrangement_for(current_person)
        - if arrangement.nil?
          You have no ride arrangement yet.
        - else
          Riding in #{arrangement.driver.name}'s #{arrangement.vehicle.make} #{arrangement.vehicle.model} with #{arrangement.passengers.map {|p| p.name}.join(', ')} 
