<div class="section">
	<h2><span class="triptitle"><%= link_to trip.name, trip %></span><span class="tripdate"><%= trip.time.strftime("%B %d, %Y") %></span></h2>
	<div class="tripinfo">
		<h3>Location</h3>
		<p><%=h trip.location.location %></p>
		<h3>Date</h3>
		<p><%=h trip.time %></p>
		<% if trip.participants.include? current_person %>
			<h3>Arrangement</h3>
			<p>
			<% if trip.arrangement_for(current_person).nil? %>
				You have no ride arrangement.
			<% else %>
				<% arrangement = trip.arrangement_for(current_person) %>
				Ride in <strong><%=h arrangement.driver.name %>'s <%=h arrangement.vehicle.make %> <%=h arrangement.vehicle.model %></strong> with
				<%=h (trip.arrangement_for(current_person).passengers.map {|p| p.name}).join(", ") %>
			<% end %>
			</p>
		<% end %>
	</div>
</div>
