<div id="main">
  <h1>Trip History</h1>

  <div id="sidebar">
    <h2>Filter</h2>
    <ul>
      <% @months_with_trips.each do |m| %>
        <li><%= link_to "#{Date::MONTHNAMES[m[:month]]} #{m[:year]}", trips_path(:month => m[:month], :year => m[:year]) %></li>
      <% end %>
    </ul>
  </div>
  
  <% @trips.each do |trip| %>
  <div class="section">
  	<h2><span class="triptitle"><%= link_to trip.name, trip %></span><span class="tripdate"><%= trip.time.strftime("%B %d, %Y") %></span></h2>
  	<div class="tripinfo">
  		<h3>Location</h3>
  		<p><%=h trip.address %></p>
  		<h3>Date</h3>
  		<p><%=h trip.time %></p>
  		<h3>Arrangement</h3>
  		<p>
  		<% if trip.arrangement_for(current_person).nil? %>
  			You have no ride arrangement.
  		<% else %>
  			<% trip.arrangement_for(current_person).passengers.each do |passenger| %>
  			<%=h passenger.name %> 
  			<% end %>
  		<% end %>
  		</p>
  	</div>
  </div>
  <% end %>
</div>
