%h2 Join Trip
.section
  %h3<
    != link_to @trip.name, @trip
    %span!= @trip.time.strftime('%B %d, %Y')
  %dl
    %dt Location
    %dd= @trip.location.location
%p Please confirm that you want to join the above trip:
!= form_tag(join_trip_path(@trip.id), :method => :post) do
  %fieldset.section
    %h3 Submit
    != hidden_field_tag :token, @token
    != submit_tag 'Join Trip'
