- content_for :trip_navigation do
  %li{:class => 'current'}
    != link_to 'Trip Info', @trip, :id => 'trip_info'
    %ul
      %li!= link_to 'Arrangements', trip_arrangements_path(@trip)
      %li!= link_to 'Participants', participants_trip_path(@trip)
      - if @trip.organizers.include?(current_person)
        %li!= link_to 'Update Trip', edit_trip_path(@trip)
      %li!= link_to 'Manage Membership', manage_membership_trip_path(@trip)
%h2 Manage Membership
.section
  %h3 Driver
  - if !@trip.driving?(current_person)
    %p You are currently not a driver for this trip. Would you like to volunteer to drive?
  - else
    %p You are currently a driver for this trip. You can choose to drive a different vehicle or choose not to drive.
  - if current_person.vehicles.count > 0
    != form_tag(manage_vehicles_trip_path(@trip), :method => :post) do
      %fieldset.embedded
        %h4 Vehicle
        %ul
          %li
            != label_tag 'vehicle'
            %ul
              - current_person.vehicles.each do |vehicle|
                %li
                  != radio_button_tag 'vehicle', "#{vehicle.id}"
                  != label_tag "vehicle_#{vehicle.id}", "#{vehicle.make} #{vehicle.model} with capacity #{vehicle.capacity}"
      %fieldset.embedded
        %h4 Submit
        != submit_tag 'Drive'
  - else
    %p You haven't added any vehicles to your profile yet.
  != link_to 'Add Vehicle', "#{new_vehicle_path}?redirect=trip_#{@trip.id}"
.section
  %h3 Participant
  - if @trip.participants.include?(current_person)
    %p You can leave the trip if you no longer wish to participate.
    - if @trip.organizers.include?(current_person)
      %p Note that you will no longer be a participant but will remain an organizer.
    != form_tag(leave_trip_path(@trip), :method => :delete) do
      %fieldset.compact
        %h3 Submit
        != submit_tag 'Leave Trip'
  - elsif @trip.organizers.include?(current_person)
    %p Want to participate in the trip?
    != form_tag(join_trip_path(@trip), :method => :post) do
      %fieldset.compact
        %h3 Submit
        != submit_tag 'Join Trip'
