<div id="main">
  <h1>Trip Participants</h1>

  <% if @trip.organizer == current_person %>
    <h2>Invite Participant</h2>
    <%= form_for @invitation, :method => :post, :url => invite_trip_path do |f| %>
      <% if @invitation.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited the invitation from being sent:</h2>
          <ul>
            <% @invitation.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.label :email, "Email" %> <%= f.text_field :email %><%= f.submit "Invite" %>
    <% end %>

    <h2>Invited People</h2>
    <ul>
      <% @invitees.each do |invitee| %>
        <li><%= invitee %></li>
      <% end %>
    </ul>
  <% end %>

  <h2>Current Participants</h2>
  <ul>
    <% @participants.each do |participant| %>
      <li><%= participant.name %></li>
    <% end %>
  </ul>
</div>
