- content_for :trip_navigation do
  %li{:class => 'current'}
    != link_to 'Trip Info', @trip, :id => 'trip_info'
    %ul
      %li!= link_to 'Arrangements', trip_arrangements_path(@trip)
      %li!= link_to 'Participants', participants_trip_path(@trip)
      - if @trip.organizers.include?(current_person)
        %li!= link_to 'Update Trip', edit_trip_path(@trip)
      %li!= link_to 'Manage Membership', manage_membership_trip_path(@trip)
%h2 Trip Participants
.section
  %h3 Invited People
  - if @trip.organizers.include?(current_person)
    != form_for @invitation, :method => :post, :url => invite_trip_path do |f|
      - if @invitation.errors.any?
        #errorExplanation
          %h4 #{pluralize(@invitation.errors.count, 'error')} prohibited the invitation from being sent:
          %ul
            - @invitation.errors.full_messages.each do |msg|
              %li= msg
      %fieldset.compact
        %h4 Invitee Info
        %ul
          %li
            != f.label :invitee, 'Name'
            != f.text_field :invitee
          %li
            != f.label :email
            != f.text_field :email
          %li
            != f.label :role
            != f.select :role, [['Participant', 'participant'], ['Organizer', 'organizer']]
      %fieldset.compact
        %h4 Submit
        != f.submit 'Invite'
  %table
    %thead
      %tr
        %th{:scope => 'col'} Name
        %th{:scope => 'col'} Email
        %th{:scope => 'col'} Role
    %tbody
      - @invitees.each do |invitee|
        %tr
          %td= invitee[:name]
          %td= invitee[:email]
          %td= invitee[:role].capitalize
.section
  %h3 Organizers
  %table
    %thead
      %tr
        %th{:scope => 'col'} Name
        %th{:scope => 'col'} Phone
        %th{:scope => 'col'} Email
    %tbody
      - @organizers.each do |organizer|
        %tr
          %td= organizer.name
          %td= organizer.phone
          %td= organizer.email
.section
  %h3 Participants
  %table
    %thead
      %tr
        %th{:scope => 'col'} Name
        %th{:scope => 'col'} Phone
        %th{:scope => 'col'} Email
        %th{:scope => 'col'} Address
    %tbody
      - @participants.each do |participant|
        %tr
          %td= participant.name
          %td= participant.phone
          %td= participant.email
          %td= participant.location.location
