!= render :partial => 'trip', :object => @trip
%ul.actions
  - if @trip.organizers.include?(current_person)
    %li!= link_to 'Edit', edit_trip_path(@trip)
    %li
      != form_tag(generate_trip_arrangements_path(@trip), :method => :post) do
        != submit_tag 'Generate Arrangements'
  %li!= link_to 'Leave Trip', leave_trip_path(@trip), :confirm => 'Are you sure?', :method => :delete
  %li!= link_to 'Participants', participants_trip_path(@trip)
