<p id="notice"><%= notice %></p>
<% if @trip.invitees.include?(current_person) %>
<h1><%= link_to "Join this trip", join_trip_path %></h1>
<% end %>

<%= render :partial => "trip", :object => @trip %>

<% if @trip.organized_by?(current_person) %>
  <%= form_tag(invite_trip_path, :method => :post) do %>
  <%= label_tag(:email, "Enter email of user to invite") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag(:invite) %>
  <% end %>
  <%= form_tag(generate_trip_arrangements_path(@trip), :method => :post) do %>
  <%= submit_tag "Generate Arrangements" %>
  <% end %>
<% end %>

<ul class="actions">
  <% if @trip.organized_by?(current_person)%>
  <li><%= link_to 'Edit', edit_trip_path(@trip) %></li>
  <% end %>
  <li><%= link_to 'Leave Trip', leave_trip_path(@trip), :confirm => 'Are you sure?', :method => :delete %></li>
  <li><%= link_to 'Participants', participants_trip_path(@trip) %></li>
</ul>
