- content_for :profile_navigation do
  %li{:class => 'current'}!= link_to 'Profile', edit_person_registration_path, :id => 'profile'
%h2 Profile
!= form_for(resource, :as => resource_name, :url => update_person_registration_path, :html => { :method => :put }) do |f|
  != devise_error_messages!
  %fieldset.section
    %h3 Account
    %ul
      %li
        != f.label :email
        != f.text_field :email
      %li
        %p Leave blank to keep your current password:
        != f.label :password, 'New Password'
        != f.password_field :password
      %li
        != f.label :password_confirmation, 'Confirm'
        != f.password_field :password_confirmation
      %li
        %p Confirm your current password to edit account information:
        != f.label :current_password, 'Password'
        != f.password_field :current_password
  %fieldset.section
    %h3 Personal Info
    %ul
      %li
        != f.label :name
        != f.text_field :name
      %li
        != f.label :phone
        != f.phone_field :phone
      != f.fields_for :location do |g|
        %li
          != g.label :location
          != g.text_field :location
  %fieldset.section
    %h3 Personal Preferences
    %ul
      != f.fields_for :preferences do |g|
        %li
          != g.label :music
          %ul
            - ['no_preference', 'no_music', 'quiet_music', 'loud_music'].each do |pref|
              %li
                != g.radio_button :music, pref
                != g.label "music_#{pref}", pref.humanize
        %li
          != f.label :smoking
          %ul
            - ['no_preference', 'no_smoking', 'smoking'].each do |pref|
              %li
                != g.radio_button :smoking, pref
                != g.label "smoking_#{pref}", pref.humanize
  %fieldset.section
    %h3 Submit
    != f.submit 'Update Profile'
.section
  %h3 Vehicles
  - if resource.vehicles.count > 0
    %table
      %thead
        %tr
          %th{:scope => 'col'} Make
          %th{:scope => 'col'} Model
          %th{:scope => 'col'} Capacity
          %th{:scope => 'col'}
          %th{:scope => 'col'}
      %tbody
        - resource.vehicles.each do |vehicle|
          %tr
            %td= vehicle.make
            %td= vehicle.model
            %td= vehicle.capacity
            %td!= link_to 'Update Vehicle', edit_vehicle_path(vehicle)
            %td!= link_to 'Remove Vehicle', vehicle, :confirm => 'Are you sure?', :method => :delete
  - else
    %p You haven't added any vehicles yet.
  != link_to 'Add Vehicle', new_vehicle_path
