%h2 Sign Up
!= form_for(resource, :as => resource_name, :url => create_person_registration_path) do |f|
  != devise_error_messages!
  %fieldset.section
    %h3 Account
    %ul
      %li
        != f.label :email
        != f.text_field :email
      %li
        != f.label :password
        != f.password_field :password
      %li
        != f.label :password_confirmation, 'Confirm'
        != f.password_field :password_confirmation
  %fieldset.section
    %h3 Profile
    %ul
      %li
        != f.label :name
        != f.text_field :name
      %li
        != f.label :phone
        != f.text_field :phone
      != f.fields_for :location do |g|
        %li
          != g.label :location
          != g.text_field :location
  %fieldset.section
    %h3 Submit
    != f.submit 'Sign up'
