<h1>Sign Up</h1>

<%= form_for(resource, :as => resource_name, :url => create_person_registration_path) do |f| %>
<%= devise_error_messages! %>


<div class="section">
	<h2>Account</h2>
	<fieldset>
		<p><%= f.label :email %><%= f.text_field :email %></p>
		<p><%= f.label :password %><%= f.password_field :password %></p>
		<p><%= f.label :password_confirmation, "Confirm" %><%= f.password_field :password_confirmation %></p>
	</fieldset>
</div>
<div class="section">
	<h2>Profile</h2>
	<fieldset>
		<p><%= f.label :name %><%= f.text_field :name %></p>
		<p><%= f.label :phone %><%= f.text_field :phone %></p>
		<%= f.fields_for :location do |g| %>
		  <p><%= g.label :address %><%= g.text_field :address %></p>
		<% end %>
	</fieldset>
</div>
	<p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
