%h2 Sign In
!= form_for(resource, :as => resource_name, :url => create_person_session_path) do |f|
  %fieldset.section
    %h3 Account
    %ul
      %li
        != f.label :email
        != f.text_field :email
      %li
        != f.label :password
        != f.password_field :password
  %fieldset.section
    %h3 Submit
    != f.submit 'Sign In'
