!= form_for(@vehicle) do |f|
  - if @vehicle.errors.any?
    #error_explanation
      %h3 #{pluralize(@vehicle.errors.count, "error")} prohibited this vehicle from being saved:
      %ul
        - @vehicle.errors.full_messages.each do |msg|
          %li= msg
  %fieldset.section
    %h3 Vehicle Info
    %ul
      %li
        != f.label :make
        != f.text_field :make
      %li
        != f.label :model
        != f.text_field :model
      %li
        != f.label :capacity
        != f.text_field :capacity
  %fieldset.section
    %h3 Submit
    != f.submit
