<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Rideshare Organizer</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
	</head>
	<body>
		<div id="header">
			<div id="logo">
				<img src="/images/rides.png" alt="Rideshare Organizer" />
			</div>
			<div id="account">
				<% if person_signed_in? %>
				<p class="large">Hello, <%= current_person.name %>.</p>
				<% else %>
				<p class="large">Not logged in.</p>
 				<% end %>
				<ul>
					<% if person_signed_in? %>
					<li><%= link_to "Profile", edit_person_registration_path %></li>
					<li><%= link_to "Trips", trips_path %></li>
					<li><%= link_to "Sign out", destroy_person_session_path %></li>
					<% else %>
					<li><%= link_to "Sign up", new_person_registration_path %></li>
					<li><%= link_to "Sign in", new_person_session_path %></li>
					<% end %>	
				</ul>
			</div>
		</div>
		<div id="main">
		<%= yield %>
		</div>
		<div id="footer">
			<p>CS169 Project</p>
		</div>
	</body>
</html>
